.places {
    width: calc(100% - 296px);
    margin: auto;
    padding:0 0 92px 0;
}

@media screen and (max-width:1279px) {
    .places {
        width: calc(100% - 96px);
        padding:0 0 92px 0;
    }
  }

@media screen and (max-width: 1023px) {
    .places {
        width: calc(100% - 48px);
        padding:0 0 90px 0;
    }
  }

  @media screen and (max-width: 767px) {
    .places {
      width: 100%;
      padding:0 0 66px 0;
    }
  }