.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 360px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-top: 32px;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        padding-top: 16px;
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}