.place__paragraph-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .place__paragraph-item {
        font-size: 16px;
    }
}