.place {
    display: grid;
    grid-template-columns: 460px minmax(288px, 484px);
    gap: 48px 40px;
    margin-top: 80px;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px minmax(288px, 484px);
        margin-top: 80px;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px minmax(288px, 484px);
        margin-top: 73px;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        margin-top: 50px;
        grid-template-columns: 1fr;
        gap: 32px

    }
}